<!--<h1>Iwe Maxwell </h1>-->

<div class="container">
    <h1>Welcome CSE Motors ! </h1>
    <div class="content">
        <div class="card">
            <div class="box-featured">
                
                <ul class="items">
                    <li class="car-name">DMC Delorean</li>
                    <li>3 Cup Holders</li>
                    <li>Superman doors</li>
                    <li>Fuzzy dice!</li>
                    <li>      
                        <div class="">
                            <a href="#" class="btn-get-started "
                            >Own Today</a
                            >
                        </div>
                    </li>
                </ul>
                <figure class="car-image">
                    <img
                     
                      src="/images/vehicles/delorean.jpg"
                      alt="DCM Delorean"
                    />
                    <figcaption>DCM Delorean</figcaption>
                </figure>
            </div>
        </div>
        <div class="model">
            <h2>Delorean Upgrades</h2>
            <div class="features">
                <figure class="car-feature">
                    <img
                     
                      src="/images/upgrades/flux-cap.png"
                      alt="DCM Delorean"
                    />
                    <figcaption>Flux Capacitor</figcaption>
                </figure>
                <figure class="car-feature">
                    <img
                     
                      src="/images/upgrades/flame.jpg"
                      alt="DCM Delorean"
                    />
                    <figcaption>Flame Decals</figcaption>
                </figure>
                <figure class="car-feature">
                    <img
                     
                      src="/images/upgrades/bumper_sticker.jpg"
                      alt="DCM Delorean"
                    />
                    <figcaption>Bumper Stickers</figcaption>
                </figure>
                <figure class="car-feature">
                    <img
                     
                      src="/images/upgrades/hub-cap.jpg"
                      alt="DCM Delorean"
                    />
                    <figcaption>Hub Caps</figcaption>
                </figure>
            </div>
        </div>
        <div class="description">
            <h2>DMC Delorean Reviews</h2>
            <ul class="reviews">
                <li>"So fast It's almost like traveling in time."(4/5)</li>
                <li>"Coolest ride on the road." (4/5)</li>
                <li>"I'm feeling Marty McFly!" (5/5)</li>
                <li>"The most futuristic ride of our day." (4.5/5)</li>
                <li>"80's livin and I love it!" (5/5)</li>
            </ul>
        </div>
    </div>
</div>