/* Mobile View */
@media screen and (max-width: 768px) {
    .content{
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
    
        margin-top: 50px;
    
    }

    body, header,footer{
        width: 100%;
      }

    .box-featured img {
        width: 90%;
    }
    .box-featured ul{
        width: 80%;
    }

    .items li{
        color: #013a63;
        font-size: 1rem;
        margin: 10px;
        text-align: center;
        font-weight: 300;
      
      }
      
      .items .car-name{
        font-weight: bold;
        font-size: 1.5rem;
       
      }
      .btn-get-started{
        font-size: 10px;
        font-weight: 300;
      }
}